:root {
    --light-blue: aliceblue;
    --blue: #00b4d8;
    --dark-blue: #03045e;
    --hover-blue: rgb(217, 232, 248);
    --red: rgb(211, 48, 48);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidemenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    padding: 50px;
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    gap: 24px;

    nav {
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .nav-link {
                font-weight: bold;
                padding: 0.5em;
                border-radius: 5px;
                display: inline-block;
                text-decoration: none;
                width: 100%;
                color: var(--dark-blue);

                &.active {
                    color: var(--blue);
                }

                &:hover {
                    background-color: var(--hover-blue);
                }
            }
        }
    }
}

.content {
    margin-left: 300px;
    padding: 50px;
}

.btn {
    padding: 0.5em 1em;
    border: none;
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-blue);
    }

    &.main {
        background-color: var(--blue);
        color: white;
        border-radius: 100px;
        font-weight: bold;
        padding: 0.75em 1.5em;
    }

    &.main-alt {
        background-color: white;
        color: var(--blue);
        border-radius: 100px;
        padding: 0.75em 1.5em;
        outline: 1px solid var(--blue);
        font-weight: bold;

        &:hover {
            background-color: var(--light-blue);
        }
    }

    &.link {
        padding: 0;
        &:hover {
            background-color: transparent;
            text-decoration: underline;
        }
    }
}

input[type=text], .input-field {
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: 1px solid var(--hover-blue);
    resize: none;

    &:focus, &:focus-within, &:focus-visible {
        outline: 2px solid var(--blue);
    }
}